.post_link {
    text-decoration: none;
}

.post {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    padding: 10px;
    color: var(--color-font);
    background-color: var(--light-gray);
    border: 2px solid white;
}

.post:hover {
    color: white;
    background-color: var(--gray);
}

.post:hover .post_title {
    border-color: white;
}
.post_date {
    font-size: var(--small);
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-font);
}

.post_content {
    margin-top: 10px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.post_image {
    margin-right: 10px;
    float: left;
}

.post_content>p {
    font-size: var(--medium);
}
.post_content>img {
    max-width: 105px;
}

.post_lead {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: var(--small);
    text-decoration: underline;
    font-style: italic;
    display: block;
    text-align: right;
}

@media (max-width: 991px) {
    .post {
        min-height: auto;
    }
}

@media (max-width: 767px) {
    .post {
        min-height: 250px;
    }
}

@media (max-width: 567px) {
    .post {
        min-height: auto;
    }
}