.news_article {
    display: flex;
    flex-direction: column;
}

.news_header {
    border-bottom: 1px solid var(--color-font);
    display: flex;
    align-items: center;
    width: 100%
}

.news_image {
    margin-right: 10px;
}

.news_image > img {
    max-width: 300px;
}

.news_title {
    font-size: var(--big);
    text-transform: uppercase;
}

.raw_content {
    margin: 30px 0;
    display: flex;
}

.raw_content > div > ul > li {
    list-style: initial;
    margin-left: 25px;
}

.news_footer {
    font-style: italic;
}

@media (max-width: 529px) { 
    .news_header {
        flex-direction: column;
    }
}