
.post_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.post_item {
    list-style: none;
    flex-basis: 30%;
    margin: 5px;
}

@media (max-width: 991px) {
    .post_item {
        flex-basis: 45%;
    }
}

@media (max-width: 567px) {
    .post_item {
        flex-basis: 95%;
    }
}
