@import url("../../styles/index.css");

.post_link {
    text-decoration: none;
}

.post {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    padding: 10px;
    color: var(--color-font);
    background-color: var(--light-gray);
    border: 2px solid white;
}

.post:hover {
    color: white;
    background-color: var(--gray);
}

.post:hover .post_title {
    border-color: white;
}
.post_date {
    font-size: var(--small);
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-font);
}

.post_content {
    margin-top: 10px;
    flex-grow: 1;
}

.post_image {
    /* width: 80px; */
    /* height: 80px; */
    margin-right: 10px;
    float: left;
}

.post_content>p {
    font-size: var(--medium);
}

@media (max-width: 991px) {
    .post {
        min-height: auto;
    }
}

@media (max-width: 767px) {
    .post {
        min-height: 250px;
    }
}

@media (max-width: 567px) {
    .post {
        min-height: auto;
    }
}