.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.pagination_container {
    display: inline-block;
}

.pagination_item {
    display: inline-block;
}

.pagination_item_button {
    color: var(--color-font);
    background-color: var(--color-background);
    border: 1px solid var(--color-font);
    outline: 0;
    cursor: pointer;
    width: 30px;
}
.pagination_item_button:hover {
    background-color: var(--light-gray);
}