@import url("../../styles/index.css");

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_item {

    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(78, 83, 85, .2);
    box-shadow: 0 10px 10px #555;
    z-index: 2;
    margin: 10px;
}

.dropdown_item {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.nav_item:hover {
    cursor: pointer;
    background-color: rgba(78, 83, 85, .2);
}

.dropdown_item:hover {
    cursor: pointer;
    background-color: rgba(78, 83, 85, .2);
}

.active {
    color: white;
}

.dropdown_item_red:hover {
    background-color: var(--light-red);
}

.active_item_red {
    background-color: var(--red);
}

.dropdown_item_green:hover {
    background-color: var(--light-green);
}

.active_item_green  {
    background-color: var(--green);
}

.dropdown_item_blue:hover {
    background-color: var(--light-blue);
}

.active_item_blue  {
    background-color: var(--blue);
}
.dropdown_item_orange:hover {
    background-color: var(--light-orange)
}

.active_item_orange {
    background-color: var(--orange)
}


/* .arrow {
    position: relative;
    top: 0;
    margin-left: 5px;
    padding: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: .5s;
}

.arrow_up {
    transform: rotate(-135deg);
    top: 8px;
    transition: .5s;
}

.arrow_active {
    border-color: white;
} */

@media (max-width: 991px) {

    /* .arrow {
        padding:5px;
    }
    .arrow_up {
        top: 5px;
    } */
}

@media (max-width: 767px) {
    .navbar {
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        /* height: 60px; */
        background-color: white;
        z-index: -100;
        box-shadow: 0 0 5px #777;
        opacity: 0;
        
        flex-wrap: wrap;
        
    }

    .nav_item {
        max-height: 50px;
        min-height: 50px;
        flex-basis: 95%;
        justify-content: flex-start;
        text-align: left;
        padding-left: 10px;
    }

    .dropdown {
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid var(--gray);
    }

    .open {
        opacity: 1;
        top: 65px;
    }
  }


@media (max-width: 575px) {
    .navbar {
        position: fixed;
        flex-wrap: wrap;
        height: auto;
        top: 65px;
        left: -100%;
        opacity: 1;
        transition: .5s;
    }
    .open {
        left: 0;
    }
    .nav_item {
        flex-basis: 35%;
        min-height: 50px;
        justify-content: flex-start;
        text-align: left;
        padding-left: 10px;
    }
    .nav_item:nth-child(odd) {
        flex-grow: 3;
    }
    .dropdown {
        top: -100%;
        right: -75%;
        left: 75%;
    }
}