@import url("../../styles/index.css");

.navbar {
    display: flex;
    flex-grow: 1;
    height: 80px;
}

.navbar ul {
    display: flex;
    flex-grow: 1;
}

.logo {
    height: 70px;
}

.nav_item img {
    background-color: white;
    border-radius: 50%;
}

.nav_item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 5px 0;
    text-decoration: none;
    color: black;
    width: 100%;
    cursor: pointer;
}

.nav_item:hover {
    background-color: var(--light-gray);
}

.nav_item_active {
    background-color:  var(--red);
    color: white;
}

.nav_item_active:hover {
    color: black;
}

.dropdown_panel {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: var(--light-gray);
    border-top: 5px solid var(--red);
    box-shadow: 0 8px 6px -6px black;
    z-index: 1;
}

.dropdown_container {
    max-width: 1100px;
    min-height: 100px;
    display: flex;
}

.dropdown_container li {
    display: flex;
    align-items: center;
}

.dropdown_section {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
}

.dropdown_section_title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    font-size: 18px;
    display: block;
    height: 50px;
    color: black;
}

.dropdown_section_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown_section_list li {
    margin: 10px 0;
}

.dropdown_item {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: black;
}

.dropdown_item:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:  100%;
    height: 0px; 
    z-index: -1;
    transform: skew(-5deg);
    transition: all 1s;
}

.dropdown_item:hover:before {
    height: 100%;

  }

.red a:hover:before, .dropdown_container a:hover:before{
    background-color: var(--light-red);
}

.blue a:hover:before{
    background-color: var(--light-blue);
}

.orange a:hover:before{
    background-color: var(--light-orange);
}

.green a:hover:before{
    background-color: var(--light-green);
}

.red .active:before, .dropdown_container .active:before {
    border-bottom: 5px double var(--red);
    background-color: transparent
}

.orange .active:before {
    border-bottom: 5px double var(--orange);
    background-color: transparent
}

.green .active:before {
    border-bottom: 5px double var(--green);
    background-color: transparent;
}

.blue .active:before {
    border-bottom: 5px double var(--blue);
    background-color: transparent
}


@media (max-width: 991px) {
    .dropdown_item {
        font-size: 16px;
    }

}

@media (max-width: 767px) {
.navbar {
    margin-left: 50px;
}
.dropdown_container {
    flex-direction: column;
}
.dropdown_section {
    flex-direction: row;
}

    .navbar {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 0 5px #777;
        opacity: 0;
        flex-wrap: wrap;
        
    }

    /* .nav_item {
        max-height: 50px;
        min-height: 50px;
        flex-basis: 95%;
        justify-content: flex-start;
        text-align: left;
        padding-left: 10px;
    } */

    /* .dropdown {
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid var(--gray);
    } */

    .hidden {
        display: none;
    }
  }


@media (max-width: 575px) {
    .dropdown_section {
        flex-direction: column;
    }
    /* .navbar {
        position: fixed;
        flex-wrap: wrap;
        height: auto;
        top: 65px;
        left: -100%;
        opacity: 1;
        transition: .5s;
    } */
    /* .open {
        left: 0;
    } */
    /* .nav_item {
        flex-basis: 35%;
        min-height: 50px;
        justify-content: flex-start;
        text-align: left;
        padding-left: 10px;
    } */
    /* .nav_item:nth-child(odd) {
        flex-grow: 3;
    } */
    /* .dropdown {
        top: -100%;
        right: -75%;
        left: 75%;
    } */
}