.page_header {
    display: flex;
    position: relative;
    animation-name: slide-in;
    animation-duration: 1s;
}

@keyframes slide-in {
    from {
        top: 0;
        left: -300px;
    }
    to {
        top: 0;
        left: 0;
    }
}

.page_header>h1 {
    align-self: center;
    padding: 10px;
}

.content_title {
    text-transform: uppercase;
}
.main_image {
    margin-right: 10px;
}

.raw_content {
    margin: 30px 0;
    text-align: justify;
}

.raw_content li {
    list-style: initial;
    margin-left: 20px;
}

.raw_content p {
    margin-top: 10px;
}

/* .figure {
    float: right;
    max-width: 50%;
}

 .figure > img {
     max-width: 100%;
 }

 .figure:nth-of-type(even) {
    float: left;
 } */

 @media (max-width: 767px) {
    .raw_content {
        text-align: left;
    }
}

@media (max-width: 529px) {
    /* .figure {
        float: none;
        text-align: center;
        width: 100%
    } */
    .page_header {
        flex-direction: column;
        align-items: center;
    }
    .content_title {
        text-align: center;
    }
    .raw_content p {
       /* text-align: center; */
    }
}