header {
    border-bottom: 5px solid;
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
    position: relative;
    border-bottom-color: var(--red);
}
.header_container {
    display: flex;
    padding: 0 20px;
    width: 1100px;
}
.toggler {
    height: 44px;
    width: 44px;
    margin: 5px;
    background: var(--gray);
    border: none;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    z-index: 2;
}
.toggler:focus {
    outline: none;
}
.toggler_line {
    width: 30px;
    height: 3px;
    background: white;
    transition: all 0.4s;
}
.toggler_line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.toggler_line2 {
  opacity: 0;
}
.toggler_line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}
.navbar {
    display: flex;
    flex-grow: 1;
}
.navbar > ul {
    display: flex;
    flex-grow: 1;
}
.logo, .home_logo {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
}
.nav_item, .home_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
    color: var(--color-font);
    width: 100%;
    cursor: pointer;
}
.home {
    padding: 0;
    margin: 0;
}
.home_link {
    height: 100%;
    margin: 0px
}
.home_span {
    margin: 0 5px;
}
.nav_item:hover, .home_link:hover {
    background-color: var(--light-red);
}
.nav_item_active {
    background-color:  var(--red);
    color: white;
}
.nav_item_active >span {
    font-weight: bold;
}
.dropdown_panel {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: var(--light-gray);
    border-top: 5px solid var(--red);
    box-shadow: 0 8px 6px -6px var(--color-font);
    z-index: 1;
}
.dropdown_container {
    max-width: 1100px;
    min-height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}
.dropdown_container li {
    display: flex;
    align-items: center;
}
.dropdown_section {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
}
.dropdown_section_title {
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    font-size: var(--medium);
    color: var(--color-font);
    cursor: default;
}
.dropdown_section_list {
    display: flex;
    flex-direction: column;
}
.dropdown_section_list li {
    margin: 5px 0;
    flex-basis: 0;
}
.dropdown_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    font-size: var(--medium);
    color: var(--color-font);
}
.dropdown_item:hover {
    background-color: var(--light-red);
}
.active {
    color: var(--color-background);
    font-weight: bold;
    background-color: var(--red);
}
.orange .dropdown_item:hover {
    background-color: var(--light-orange);
}
.orange .active{
    background-color: var(--orange);
}
.green .dropdown_item:hover {
    background-color: var(--light-green);
}
.green .active {
    background-color: var(--green);
}
.blue .dropdown_item:hover {
    background-color: var(--light-blue);
}
.blue .active {
    background-color: var(--blue);
}
.logo_wrapper {
    display: none;
}
.rightside_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    padding-top: 5px;
    justify-content: space-between;
}
.rightside_wrapper > a {
    display: block;
    padding: 2px;
    height: 30px;
}
.rightside_wrapper > a > img {
    height: 30px;
    padding: 2px;
    margin: 2px;
}

@media (max-width: 991px) {
    .dropdown_section_title {
        font-size: var(--small);
    }
    .dropdown_item {
        font-size: var(--small);
    }
}

@media (max-width: 767px) {
    header {
        height: 80px;
        border: none;
    }
    .header_container {
        width: 100%;
        justify-content: space-between;
        padding: 0 5px;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 5px solid red;
        z-index: 999;
    }
    .toggler {
        display: flex;
    }
    .logo_wrapper {
        display: flex;
    }
    .home_logo {
        display:none;
    }
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 75px;
        padding-left: 60px;
        background-color: var(--color-background);
        box-shadow: 0 0 5px #777;
        flex-wrap: wrap;
        transition: 1s;
        z-index: 1;
    }
    .dropdown_panel {
        top: 75px;
    }
    .dropdown_container {
        flex-wrap: wrap;
    }
    .dropdown_section {
        padding: 5px;
    }
  
    .dropdown_section_title {
        height: 40px;
    }

    .hidden {
        left: -100%;
        right: 100%;
        box-shadow: none;
    }
    .rightside_wrapper {
        flex-direction: row;
        padding: 2px 4px 0 0;
        width: 70px;
        height: 70px;
    }
    .rightside_wrapper > a > img {
        margin: 0px;
    }
  }

@media (max-width: 567px) {
    .navbar {
        width: 50%;
        height: auto;
        top: 80px;
        padding-left: 0;
        background-color: var(--light-gray);
        box-shadow: 1px 1px var(--red);
    }
    .nav_item, .home_link {
        margin: 5px 0;
    }
    .navbar > ul {
        flex-direction: column;
    }
    .dropdown_panel {
        top: 0;
        left: 100%;
        right: -100%;
        border-top: none;
        box-shadow: -1px 1px var(--red);
    }
    .dropdown_container {
        flex-direction: column;
        background-color: var(--light-gray);
        margin-top: 10px
    }
    .dropdown_section {
        margin-bottom: 10px;
    }
    .dropdown_section_title {
        height: auto;
        cursor: pointer;
    }
    .dropdown_section_title:after {
        content: "";
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 1px 4px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: .1s;
    }
    .arrow_right:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        
    }
    .none{
        display: none;
    }
}