.photo_title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.photo_title > img {
        width: 100%;
}

.photo_title > h1 {
    position: absolute;
    bottom: 20px;
    left: -20px;
    padding: 10px;
    font-size: 32px;
    letter-spacing: 1px;
    color: white;
    background-color: var(--gray);
}

h2 {
    margin: 10px 0;
    text-align: center;
}

.archive_navigation {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

@media (max-width: 991px) {
    .photo_title > h1 {
        font-size: 28px;
        letter-spacing: 0;
    }
}

@media (max-width: 767px) {
    .photo_title > h1 {
        font-size: 24px;
    }
}

@media (max-width: 567px) {
    .photo_title {
        height: 400px;
        justify-content: start;
        overflow: hidden;
    }
    
    .photo_title > img {
            width: initial;
            position: relative;
            left: -100px;
    }

    .photo_title > h1 {
            left: 0;
    }
}