@import url("../styles/index.css");

.photo_title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.photo_title > img {
        width: 100%;
}

.photo_title > h1 {
    position: absolute;
    bottom: 20px;
    left: -20px;
    padding: 10px;
    font-size: 32px;
    letter-spacing: 1px;
    color: white;
    background-color: var(--gray);
}

.page_header {
    width: 280px;
    display: flex;
    position: relative;
    animation-name: slide-in;
    animation-duration: 1s;
}

h2 {
    margin: 10px 0;
    text-align: center;
}

@keyframes slide-in {
    from {
        top: 0;
        left: -300px;
    }
    to {
        top: 0;
        left: 0;
    }
}

.page_header>h1 {
    align-self: center;
    padding: 10px;
}

.post_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


li {
    list-style: none;
    flex-basis: 30%;
    margin: 5px;
}

.gdpr {
    margin: 10px 0;
    text-align: justify;
}

.gdpr li {
    list-style: initial;
    margin-left: 20px;
}

.gdpr p {
    margin-top: 10px;
}

@media (max-width: 991px) {
    .photo_title > h1 {
        font-size: 28px;
        letter-spacing: 0;
    }
    li {
        flex-basis: 45%;
    }
}

@media (max-width: 767px) {
    .photo_title > h1 {
        font-size: 24px;
    }
}

@media (max-width: 529px) {
    li {
        flex-basis: 95%;
    }
    .gdpr {
        text-align: left;
    }
    .photo_title {
        height: 400px;
        justify-content: start;
        overflow: hidden;
    }
    
    .photo_title > img {
            width: initial;
            position: relative;
            left: -100px;
    }

    .photo_title > h1 {
            left: 0;
    }
}