.page_header {
    width: 280px;
    display: flex;
    position: relative;
    animation-name: slide-in;
    animation-duration: 1s;
}

@keyframes slide-in {
    from {
        top: 0;
        left: -300px;
    }
    to {
        top: 0;
        left: 0;
    }
}

h1 {
align-self: center;
}

.post_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    flex-basis: 33%;
    flex-grow: 1;
}