@import url("../styles/index.css");

footer {
    padding: 10px;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
}

.copyright {
    color: white;
    text-align: center;
}