@import url("../styles/index.css");

header {
    display: flex;
    padding: 20px;
    border-bottom: 5px solid;
}

.header_border_blue {
    border-bottom-color: var(--blue);
}

.header_border_green {
    border-bottom-color: var(--green);
}

.header_border_orange {
    border-bottom-color: var(--orange);
}

.header_border_red {
    border-bottom-color: var(--red);
}


@media (max-width: 1023px) {
    header {
       position: fixed;
        top: 0;
        left: 0
    }
  }

.logo_wrapper {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

img {
    padding: 10px;
    height: 100px;
}

.logo {
    padding: 0;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar >div:hover {
    cursor: pointer;
}

.nav_item, .nav_item_dropdown {
    position: relative;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.nav_item_dropdown {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.nav_item_dropdown > div:first-child {
    width: 50%;
    text-align: center;
}

.nav_item[aria-current="page"], .active {
    background-color: var(--red);
    color: white;
}

.active_blue {
    background-color: var(--blue);
    color: white;
}

.active_green {
    background-color: var(--green);
    color: white;
}

.active_orange {
    background-color: var(--orange);
    color: white;
}

.arrow {
    position: relative;
    top: 0;
    padding: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: .5s;
}

.arrow_up {
    transform: rotate(-135deg);
    top: 10px;
    transition: .5s;
}

.arrow_active {
    border-color: white;
}