@import url("../styles/index.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--big);
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  position: relative;
  min-height: 100vh;
  color: var(--color-font);
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-link)
}

li {
  list-style: none;
}

.main {
    width: 1100px;
    align-self: center;
    background-color: var(--color-background);
    padding: 20px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

footer {
    padding: 10px;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
}

.copyright {
    color: white;
    text-align: center;
}

@media (max-width: 1199px) {
    .main {
        width: 100%
    }
}

@media (max-width: 991px) {
    * {
      font-size: var(--medium);
    }
}