.figure {
    display: flex;
    justify-content: center;
}

 .figure > img {
     max-width: 100%;
 }

 .file_description {
     font-style: italic;
 }

 .table {
    min-width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
 }

 .table_row {
    border-top: 2px solid var(--color-font);
    height: 50px;
 }
 /* .table_row:last-child {
     border-bottom: none;
 } */
 .table_row > td {
    text-align: center;
    font-size: var(--small);
 }

 @media (max-width: 991px) {
    .table_row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 528px) {
    .table_row {
        height: 150px;
    }
}