.background_container {
    height: 100%;
    width: 100%;
    opacity: var(--opacity);
    position: absolute;
    z-index: -1;
    background-color: var(--color-background);
}

.puzzle_container {
    position: absolute;
    left: 30px;
    bottom: 100px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
}

.puzzle_row {
    display: flex;
    opacity: 0.5;
}
.puzzle_row:first-child {
    position: relative;
    top: 10px;
    transform: rotate(3deg);
    opacity: 1;
}
/* CSS for default orange puzzle */
.puzzle {
    position: relative;
    width: 67px;
    height: 67px;
    background-color: var(--orange);
}

.connector {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-background);
}
.connector_1 {
    top: -2px;
    left: 50%;
    transform: translateX(-50%)
}
.connector_2 {
    top: 50%;
    right: -2px;
    transform: translateY(-50%)
}

.connector_3 {
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.connector_4 {
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
}

.connector_3, .connector_4 {
    background-color: var(--orange);
    z-index: 1;
}
/* CSS for blue puzzles */
.puzzle:last-child,
.puzzle:last-child>.connector_3,
.puzzle:last-child>.connector_4  {
    background-color: var(--blue);
    }

/* CSS for green puzzles */
.puzzle_row:nth-child(3)>.puzzle,
.puzzle_row:nth-child(3)>.puzzle>.connector_3,
.puzzle_row:nth-child(3)>.puzzle>.connector_4 {
    background-color: var(--green);
}

/* CSS for a red puzzle */
.puzzle_row:first-child>.puzzle:first-child,
.puzzle_row:first-child>.puzzle:first-child>.connector_3,
.puzzle_row:first-child>.puzzle:first-child>.connector_4 {
    background-color: var(--red);
}

.loose_puzzle_1 {
    position: absolute;
    top: 25%;
    right: 5%;
    transform: rotate(35deg);
}
.loose_puzzle_2 {
    position: absolute;
    top: 10%;
    right: 20%;
    transform: rotate(142deg);
}
.loose_puzzle_3 {
    position: absolute;
    top: 12%;
    transform: rotate(4deg);
    background-color: var(--red);
}
.loose_puzzle_3>.connector_3,
.loose_puzzle_3>.connector_4 {
    background-color: var(--red);
}
.loose_puzzle_4 {
    position: absolute;
    bottom: 40%;
    right: 10px;
    transform: rotate(-5deg);
    background-color: var(--green) !important;
}
.loose_puzzle_4>.connector_3,
.loose_puzzle_4>.connector_4 {
    background-color: var(--green) !important;
}